body, button {
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
}

input, textarea {
  font-family: 'Montserrat', sans-serif;
}

.spm-highlight {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  z-index: 100;
  background-color: white;
}

.spm-highlight-out {
  left: 100%;
  transition: all 0.25s ease-in-out;
}

.spm-highlight-in {
  left: 0%;
  transition: all 0.25s ease-in-out;
}

.spm-tag {
  list-style: none;
  padding: 3px;
}

#spm-highlight-tag-list {
  padding: 0;
  display:  flex;
  flex-wrap: wrap;
  border-radius: 2px;
}

#spm-highlight-tag-list:focus {
  outline: none;
}

#spm-highlight-tag-input {
  border: none;
  min-width:100px;
  flex-grow: 1;
}

#spm-highlight-tag-input:focus {
  outline: none;
}

#spm-tag-filter {
  border: none;
  height: 24pt;
  padding: 0;
  margin: 0;
}

#spm-tag-filter:focus {
  outline: none;
}

.btn-invisible {
  height: 20pt;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.btn-invisible > i {
  vertical-align: bottom;
}

.btn-small {
  background: white;
  border-radius: 100px;
  border: 1px solid #9147ff;
  font-size: 8pt;
  cursor: pointer;
}

.filter-box {
  background: linear-gradient(grey, grey) left bottom 1px / 93% 1px no-repeat;
  flex-grow: 3;
  padding-left: 0px;
  padding-right: 0px;
}

.filter-box > input {
  background-color: transparent;
}


.flex-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#spm-navbar {
  height: 40px;
  margin: 10px;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#spm-btn-add, #spm-btn-save {
  flex-grow: 1;
  height: 40px;
  min-width: 100px;
  border-radius: 1000px;
  border: none;
  background-color:#9147ff;
  color: white;
  box-shadow: 2px 2px 4px grey ;
  cursor: pointer;
}


#spm-btn-add > span {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12pt;
}

#spm-btn-save > span {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12pt;
}

#spm-tag-clear > i {
  color: gray;
  font-weight: 300;
  font-size: 12pt;
}

::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 20px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 20px;
}

#spm-list {
  max-height: 400px;
  overflow-y: auto;
  padding: 0 10px 0 10px;
}

.grid-horizontal {
  display: grid;
  grid-template-columns: 90% 10%;
}

.spm-list-txt {
  max-height: 75px;
  word-wrap: break-word;
  overflow: auto;
  font-size: 9pt;
  padding: 5px;
  margin: 5px;
}

.spm-list-item {
  list-style: none;
  height: 80px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  transition: ease-in-out all 0.1s;
  border-radius: 5px;
  box-shadow: 0px 10px 10px #eee;
  
}

.spm-list-item:hover {
  transform: scale(1.03);
  transition: ease-in-out all 0.1s
}

.spm-list-item > .spm-list-txt::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.spm-list-item > .spm-list-txt{
  grid-column: 1;
  cursor: pointer;
}

.spm-list-item > .spm-list-info {
  grid-column: 2;
}

#spm-highlight-txt {
  height: 100%;
  width: 100%;
  resize: none;
  border: none;
  border-bottom: 1px solid #9147ff;
  background-color: white;
}

#spm-highlight-txt:focus {
  outline: none;
}



.spm-list-info {
  position: relative;
}

.spm-list-remove-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.spm-list-remove-btn > i {
  font-size: 14pt;
  vertical-align: top;
}

.spm-list-edit-btn {
  position: absolute;
  top: 20pt;
  right: 0pt;
}

.spm-list-edit-btn > i {
  font-size: 13pt;
  vertical-align: top;
}

.spm-list-copied-info {
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: 100;
  padding: 0 5px 0 5px;
  border-radius: 10px;
  font-size: 8pt;
  user-select: none;
}

.spm-list-copied-info-active {
  background: #9147ff;
  box-shadow: 3px 3px 3px lightgray;
  color: white;
  transition: ease-in-out all 0.25s;
}

.spm-list-copied-info-disabled {
  background: none;
  color: transparent;
  transition: ease-in-out all 0.25s;
}

.btn-normal {
  height: 18pt;
  width: 18pt;
  border: none;
  background: none;
  border-radius: 10px;
  padding: 0;
  cursor: pointer;
  transition: ease-in-out all 0.1s;
  color: grey;
}

.btn-remove {
  background: red;
  color: white;
  width: 18pt;
  height: 18pt;
  border-radius: 10px;
  border: none;
  padding: 0;
  cursor: pointer;
  box-shadow: 0px 3px 8px salmon;
  transition: ease-in-out all 0.1s;
}

#spm-btn-close {
  position: absolute;
  right: 0;
}

#spm-btn-settings {
  flex-grow: 1; 
  color: #9147ff; 
  text-shadow: 2px 2px 5px gray; 
  margin-left: 10px; 
  margin-right: 15px;
}


#spm-dropdown {
  top: 50px;
  width: 92%;
  left: 3%;
  height: 50px;
  overflow: hidden;
  position: absolute;
  background-color: white;
  box-shadow: 2px 2px 5px lightgray;
  border-radius: 20px;
}

#spm-dropdown > div {
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50% ;
  justify-items: center;
  align-items: center;;
}

.spm-settings-out {
  opacity: 0;
  transition: ease-in-out all 0.25s;
  z-index: -100;
}

.spm-settings-in {
  opacity: 1;
  transition: ease-in-out all 0.25s;
  z-index: 100;
}

#spm-btn-export, #spm-btn-import {
  flex-grow: 1;
  padding: 5px;
  width: 100px;
  border-radius: 1000px;
  border: none;
  background-color:#9147ff;
  color: white;
  box-shadow: 2px 2px 4px grey ;
  cursor: pointer;
}

.spm-tag {
  border-radius: 10px;
  background: #9147ff;
  color: white;
  font-size: 12px;
  padding: 5px;
  margin: 5px;
}

.spm-tag-txt {
  vertical-align: middle;
}

.spm-tag-remove > i {
  color: white;
  font-size: 14px;
}

.btn-remove-tag {
  height: 12pt;
  width: 12pt;
  border: none;
  background: none;
  border-radius: 10px;
  padding: 0;
  cursor: pointer;
  transition: ease-in-out all 0.1s;
  color: white;
  vertical-align: middle;
}