body, button {
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
}

.spm-highlight {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  z-index: 100;
  border: 2px solid #f08080;
  background-color: white;
}

.spm-highlight-out {
  left: 100%;
  transition: all 0.25s ease-in-out;
}

.spm-highlight-in {
  left: 0%;
  transition: all 0.25s ease-in-out;
}

.spm-tag {
  list-style: none;
  padding: 3px;
}

#spm-highlight-tag-list {
  padding: 0;
  border: 1px solid black;
  display:  flex;
  flex-wrap: wrap;
  border-radius: 2px;
}

#spm-tag-filter {
  border: none;
  height: 24pt;
  padding: 0;
  margin: 0;
}

#spm-tag-filter:focus {
  outline: none;
}

.btn-invisible {
  height: 20pt;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.btn-invisible > i {
  vertical-align: bottom;
}

.btn-small {
  background: white;
  border-radius: 100px;
  border: 1px solid #9147ff;
  font-size: 8pt;
  cursor: pointer;
}

.filter-box {
  background: linear-gradient(grey, grey) left bottom 1px / 80% 1px no-repeat;
  flex-grow: 3;
  padding-left: 0px;
  padding-right: 0px;
}

.filter-box > input {
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
}


.flex-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#spm-navbar {
  height: 40px;
  margin: 10px;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#spm-btn-add {
  flex-grow: 1;
  height: 40px;
  border-radius: 1000px;
  border: none;
  background-color:#9147ff;
  color: white;
  box-shadow: 4px 4px 10px grey ;
  cursor: pointer;
}

#spm-btn-add > span {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12pt;
}

#spm-tag-clear > i {
  color: gray;
  font-weight: 300;
  font-size: 12pt;
}

#spm-list{
  max-height: 400px;
  overflow-y: auto;
}

::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 20px;
}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 20px;
}

#spm-list {
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.grid-horizontal {
  display: grid;
  grid-template-columns: 60% 40%;
}

.spm-list-item {
  list-style: none;
  min-height: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.spm-list-item > .spm-list-txt{
  grid-column: 1;
  border: 1px solid purple;
  margin-right: 5px;
}

.spm-list-item > .spm-list-info {
  grid-column: 2;
}
